<?xml version="1.0" encoding="Windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Fragment>
		<ComponentGroup Id="groupReportEngineComponents">
			<ComponentRef Id="ReportEngineExe" />
			<ComponentRef Id="ReportEngineSupportingFiles" />
		</ComponentGroup>

		<DirectoryRef Id="ServicesInstallDir">
			<!-- This section adds files to the DATAENGSERVICEDIR list in the main install script -->
			<Directory Id="REPORTENGSERVICEDIR" Name="ReportEg" LongName="Report Engine">
				
				<Component Id="ReportEngineExe" Guid="45bde9d2-fe55-11db-8314-0800200c9a66">
					<File Id='Rt.ReportEngine.exe' Name='ReportEg.exe' LongName="Rt.ReportEngine.exe" src='Rt.ReportEngine.exe' DiskId ='1'/>
					<ServiceInstall Id="Rt.ReportEngine.exe" Name='Rt.ReportEngine' DisplayName='RankTrend Report Engine'
						Type='ownProcess' Interactive='yes' Start='auto' Vital='no'
						ErrorControl='normal'/>
					<ServiceControl Id="Rt.ReportEngine.exe" Name='Rt.ReportEngine' Start='install' Stop='both' Remove='uninstall' Wait='no'/>
				</Component>
				
				<Component Id="ReportEngineSupportingFiles" Guid="397f003e-fe55-11db-8314-0800200c9a66">
					<File Id="Rt.Framework.dll" Name="Framewrk.dll" LongName="Rt.Framework.dll" src="Rt.Framework.dll" DiskId="1" />
					<File Id="YTech.General.dll" Name="YTGen.dll" LongName="YTech.General.dll" src="YTech.General.dll" DiskId="1" />
					<File Id="YTech.Db.dll" Name="YTechDb.dll" LongName="YTech.Db.dll" src="YTech.Db.dll" DiskId="1" />
					<File Id="Iesi.Collections.dll" Name="IesiColl.dll" LongName="Iesi.Collections.dll" src="Iesi.Collections.dll" DiskId="1" />
					<File Id="NHibernate.dll" Name="NHib.dll" LongName="NHibernate.dll" src="NHibernate.dll" DiskId="1" />
					<File Id="log4net.dll" Name="log4net.dll" LongName="log4net.dll" src="log4net.dll" DiskId="1" />
					<File Id="Logging.config" Name="Logging.cfg" LongName="Logging.config" src="Logging.config" DiskId="1" />
					<File Id="Rt.ReportEngine.exe.config" Name="REConfig.cfg" LongName="Rt.ReportEngine.exe.config" src="Rt.ReportEngine.exe.config" DiskId="1" />
					<File Id="MichaelBrumm.Win32.TimeZones.dll" Name="TimeZ.dll" LongName="MichaelBrumm.Win32.TimeZones.dll" src="MichaelBrumm.Win32.TimeZones.dll" DiskId="1" />
					<File Id="MichaelBrumm.Globalization.SimpleTimeZone.dll" Name="GlobeTZ.dll" LongName="MichaelBrumm.Globalization.SimpleTimeZone.dll" src="MichaelBrumm.Globalization.SimpleTimeZone.dll" DiskId="1" />
					<File Id="netchartdir.dll" Name="netchart.dll" LongName="netchartdir.dll" src="netchartdir.dll" DiskId="1" />
				</Component>
				
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>