<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rt.TrayApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Rt.TrayApplication.Properties.Settings>
            <setting name="Rt_TrayApplication_Rt_Webservices_TrayApplication"
                serializeAs="String">
                <value>http://www.ranktrend.com/Webservices/TrayApplication.asmx</value>
            </setting>
        </Rt.TrayApplication.Properties.Settings>
    </applicationSettings>
</configuration>