<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RT_ServiceOwnerName" value="Windows"/>
	</appSettings>
	<connectionStrings>
		<add name="main" connectionString="Network Library=DBMSSOCN; Data Source=RankTrend.com,2433; Initial Catalog=RankTrend; User ID=websa; Password=kfhmnEwfmRIU8nWE;"/>
		<add name="DbSandboxConnectionString" connectionString="Network Library=DBMSSOCN; Data Source=RankTrend.com,2433; Initial Catalog=RankTrend; User ID=websa; Password=kfhmnEwfmRIU8nWE;"/>
	</connectionStrings>
	<system.web>
		<membership defaultProvider="CustomizedProvider">
			<providers>
				<add connectionStringName="main" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" name="CustomizedProvider" type="System.Web.Security.SqlMembershipProvider" applicationName="RT" requiresUniqueEmail="true"/>
			</providers>
		</membership>
		<roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="CustomizedRoleProvider">
			<providers>
				<add connectionStringName="main" applicationName="RT" name="CustomizedRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
			</providers>
		</roleManager>
		<!-- Override the default provider, and tell it to use our main database connection -->
		<profile defaultProvider="MyProfileProvider">
			<properties>
				<add name="TimeZoneIndex" type="int" defaultValue="20"/>
			</properties>
			<providers>
				<add name="MyProfileProvider" connectionStringName="main" applicationName="RT" type="System.Web.Profile.SqlProfileProvider"/>
			</providers>
		</profile>
	</system.web>
</configuration>