<?xml version="1.0" encoding="utf-8" ?>
<log4net>

	<!-- Define our output appender(s) -->
	<appender name="RollingFiles" type="log4net.Appender.RollingFileAppender">
		<param name="File" value=".\\Logs\\Log.txt" />
		<param name="AppendToFile" value="true" />

		<param name="MaxSizeRollBackups" value="5" />
		<param name="MaximumFileSize" value="1MB" />
		<param name="RollingStyle" value="Size" />
		<param name="StaticLogFileName" value="true" />

		<layout type="log4net.Layout.PatternLayout">
			<param name="Header" value="****************** Log Started ******************&#13;&#10;"/>
			<param name="Footer" value="****************** Log Ended ******************&#13;&#10;"/>
			<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
		</layout>
	</appender>

	<!-- This make the log messages show up in the visual studio debug window -->
	<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d [%t] %-5p %c [%x] - %m%n" />
		</layout>
	</appender>

	<!-- This makes the logs show up on the trace.axd page -->
	<appender name="AspNetTraceAppender" type="log4net.Appender.AspNetTraceAppender" >
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
		</layout>
	</appender>

	<appender name="BufferedAppender" type="log4net.Appender.BufferingForwardingAppender" >
		<bufferSize value="32" />
		<lossy value="true" />

		<!-- Logs the buffered messages when Warn or above is encountered -->
		<evaluator type="log4net.Core.LevelEvaluator">
			<threshold value="WARN"/>
		</evaluator>

		<!-- Immediately passes on all messages that are Info or above -->
		<lossyEvaluator type="log4net.Core.LevelEvaluator">
			<threshold value="INFO"/>
		</lossyEvaluator>

		<!-- Pass the messages on to the files -->
		<appender-ref ref="RollingFiles" />
	</appender>

	<!-- A user needs to be set up for this, and it should only be used in production -->
	<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
		<to value="Jason@SuperJason.com; Shawn.Riesterer@GMail.com" />
		<from value="SystemMailer@RankTrend.com" />
		<subject value="Error On RankTrend.com" />
		<smtpHost value="mail.RankTrend.com" />
		<bufferSize value="512" />
		<Authentication value="Basic" />
		<Username value="SystemMailer@RankTrend.com" />
		<Password value="mailer1" />
		<lossy value="true" />
		<evaluator type="log4net.Core.LevelEvaluator">
			<threshold value="ERROR"/>
		</evaluator>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d [%t] %-5p %c [%x] - %m%n" />
		</layout>
	</appender>

	<appender name="UdpAppender" type="log4net.Appender.UdpAppender">
		<param name="RemoteAddress" value="ytech.dyndns.org" />
		<param name="RemotePort" value="8090" />
		<layout type="log4net.Layout.XmlLayoutSchemaLog4j, log4net" />
	</appender>

	<!-- Setup the root category, add the appenders and set the default level -->
	<root>
		<level value="DEBUG" />
		<appender-ref ref="TraceAppender" />
		<appender-ref ref="AspNetTraceAppender" />
		<appender-ref ref="BufferedAppender" />
	</root>

	<!-- NHibernate logs a lot of junk, so only log Info and above -->
	<logger name="NHibernate">
		<level value="INFO" />
	</logger>
</log4net>