<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="nhibernate" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<appSettings>
		<add key="RT_ServiceOwnerName" value="Web"/>
	</appSettings>
	<connectionStrings>
		<add name="main" connectionString="Network Library=DBMSSOCN; Data Source=localhost,2433; Initial Catalog=RankTrend; User ID=websa; Password=kfhmnEwfmRIU8nWE;"/>
		<add name="DbSandboxConnectionString" connectionString="Network Library=DBMSSOCN; Data Source=RankTrend.com,2433; Initial Catalog=RankTrend; User ID=websa; Password=kfhmnEwfmRIU8nWE;"/>
	</connectionStrings>
	<!-- Uncomment this section to turn on Sandbox mode-->
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<system.web>
		<customErrors mode="Off"/>
		<httpModules>
			<add name="MagicAjax" type="MagicAjax.MagicAjaxModule, MagicAjax"/>
			<add name="WhitespaceFilter" type="YTech.General.Web.Modules.WhitespaceModule, YTech.General"/>
		</httpModules>
		<pages>
			<controls>
				<add tagPrefix="ajax" namespace="MagicAjax.UI.Controls" assembly="MagicAjax"/>
				<add tagPrefix="rt" tagName="SiteList" src="~/Members/CommonControls/SiteList.ascx"/>
			</controls>
		</pages>
		<membership defaultProvider="CustomizedProvider">
			<providers>
				<add connectionStringName="main" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" name="CustomizedProvider" type="System.Web.Security.SqlMembershipProvider" applicationName="RT" requiresUniqueEmail="true"/>
			</providers>
		</membership>
		<roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="CustomizedRoleProvider">
			<providers>
				<add connectionStringName="main" applicationName="RT" name="CustomizedRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
			</providers>
		</roleManager>
		<compilation debug="false">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms name=".ASPXAUTH" loginUrl="~/Login/" protection="Validation" timeout="20160" slidingExpiration="true"/>
		</authentication>
		<siteMap defaultProvider="MainSiteMap" enabled="true">
			<providers>
				<add name="MainSiteMap" description="The site map provider that reads in the .sitemap XML files." type="YTech.General.Web.Sitemaps.EnhancedSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
			</providers>
		</siteMap>
		<!-- Override the default provider, and tell it to use our main database connection -->
		<profile defaultProvider="MyProfileProvider">
			<properties>
				<add name="TimeZoneIndex" type="int" defaultValue="20"/>
			</properties>
			<providers>
				<add name="MyProfileProvider" connectionStringName="main" applicationName="RT" type="System.Web.Profile.SqlProfileProvider"/>
			</providers>
		</profile>
		<urlMappings enabled="true">
			<add url="~/SavedChart.aspx" mappedUrl="~/Members/Interactive-Report/Embedded-Image.aspx" />
			<add url="~/Report-Part.aspx" mappedUrl="~/Members/Reports/Custom-Reports/Report-Part.aspx" />
		</urlMappings>
	</system.web>
</configuration>
